#overlay {
  background-color: hsla(25, 0%, 0%, 0.4);
  width: 100%;
  border-bottom: 3px solid hsla(25, 80%, 60%, 0.6);

}

#navtext {
  margin-left: 34px;
  padding: 10px;
  color: white;
  border-color: hsla(21, 15%, 50%, 0.6);
}
#navtext.active {
  background-color: hsla(25, 80%, 60%, 0.6);
}
#Scenario {
  margin-left:20px;
}
#scen {
  margin: 5px;
  padding-top: 20px;
}
#SendMessage {
  margin-left: 5px;
}
#headingfour {
  text-align: left;
  margin-bottom: 13px;
  margin-top: 10px;
}
#background {
  background-image: url('images/sunrise.jpg');
}
