#overlay {
  background-color: hsla(25, 0%, 0%, 0.4);
  width: 100%;
  border-bottom: 3px solid hsla(25, 80%, 60%, 0.6);

}

#scenarioButton, #sendMessageButton {
  margin-left: 34px;
  padding: 10px;
  color: white;
  border-color: hsla(21, 15%, 50%, 0.6);
}
#scenarioButton.active, #sendMessageButton.active {
  background-color: hsla(25, 80%, 60%, 0.6);
}
#navitem.active {
  background-color: hsla(25, 80%, 60%, 0.6);

}
#headingfour {
  text-align: left;
  margin-left: 13px;
  margin-bottom: 13px;

}
#background {
  background-image: url('images/sunrise.jpg');
}
.footer {
    line-height: 60px; /* Vertically center the text there */
    color: black;

}
.row {
    margin-left: 0;
    margin-right: 0;
}

#scenario1, #scenario2, #scenario3 {
  padding: 10px;

}
